#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.table-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.cards-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	min-height: 270px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: auto;
}

.card-appear-animation {
  animation: cardAppear 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes cardAppear {
  0% {
    opacity: 0;
    transform: translateY(50px) rotateY(180deg) scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px) rotateY(90deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateY(0) scale(1);
  }
}
h3.message {
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient(315deg, #facc6b 0%, #ecab29 74%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
margin: 5px;
padding: 0;
}


.card {
  width: 85px;
	border-radius: 4px;
  box-shadow: 0 0 10px 4px rgba(255, 215, 0, 0.3); /* Золотая светящаяся обводка */
}

.options-bar {
	display: flex;
	gap: 20px;
}

.chips {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.chip {
	position: relative;
	cursor: pointer;
}

.chip::after {
	content: attr(data-value);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: rgb(15, 15, 15);
	font-weight: 700;
	pointer-events: none !important;
}

.chip img {
	display: block;
	width: 80px;
}

.row-container {
	display: flex;
	gap: 120px;
	align-items: flex-center;
}

.row-container.gold {
	border: 3px solid #facc6b;
	border-image: linear-gradient(315deg, #facc6b 0%, #ecab29 74%); /* Градиентная граница */
  border-image-slice: 1; 
padding: 0px 40px;
background-color: #063c1b93;
margin-bottom: 16px;
}

.input-container span {
	display: block;
	text-align: left;
	font-size: 20px;
	margin-bottom: 8px;
}
